* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    flex-direction:row;
}
.itemcontainer {
    padding:40px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
}

.board-container {
    width: 85vmin;
    height: 82vmin;
    background-color: #dcebf7;

}

.bg-container {
    width: 85vmin;
    height: 100vmin;
    background-image: url("./components/assets/oac.png");
    padding:1.5%;
}
.cord-container {
    width: 20px;
    height: 85vmin;
    background-color: #670404;
    margin-top: 40px;
}
.cord-container-x {
    width: 85vmin;
    height: 20px;
    background-color: #670404;
}
.info-container {
    width: 300px;
    height: 85vmin;
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #670404;
}

.square {
    width: 12%;
    height: 12.5%;
}
.cord-squarexxx {
    width: 2%;
    height: 2%;
    background-color: #670404;
    align-items: center;
    justify-content: center;
}
.cord-squarexx {
    width: 2%;
    height: 12.5%;
    background-color: #670404;
    align-items: center;
    justify-content: center;
}
.cord-bg {
    width: 8.33%;
    height: 2%;
    background-color: #670404;
    align-items: center;
    justify-content: center;
}
.mid {
    width: 15.3%;
    height: 50%;
    display: flex;
    flex-direction: row
}
.bgcolumnmidle {
    width: 50%;
    height: 100%;
    background-image: url("./components/assets/oac.png");
}
.bgcolumnmm {
    width: 50%;
    height: 100%;
    background-color: #F0D9B5;
    background-image: url("./components/assets/trb.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
}
.bgcolumn {
    width: 7.69%;
    height: 50%;
    background-color: #F0D9B5;
    background-image: url("./components/assets/trb.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
}
.bgcolumnr {
    width: 7.69%;
    height: 50%;
    background-image: url("./components/assets/tr.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    background-color: #F0D9B5;
}
.bgcolumnrmm {
    width: 50%;
    height: 100%;
    background-image: url("./components/assets/tr.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    background-color: #F0D9B5;
}
.board-squaret {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.board-squareb {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.cord-squareyy{
    width: 12%;
    height: 2%;
    background-color: #670404;
    align-items: center;
    justify-content: center;
}
.cord-square {
    width: 100%;
    height: 12.5%;
}
.cord-square-x {
    width: 12.5%;
    height: 100%;
}
.promote-square {
    width: 50%;
    height: 50%;
}

.square-black {
    background: #B59963
}

.square-white {
    background: #F0D9B5;
    
}
.square-user-white {
    background: white;
    min-height:30px;
    min-width: 30px;
}

.square-user-black {
    background: black;
    min-height:30px;
    min-width:30px;
    color:white
}

.board-square {
    width: 100%;
    height: 100%;
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}

.piece-container {
    cursor: grab;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
    max-width: 70%;
    max-height: 70%;
}

.vertical-text-cord {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-weight:200;
    font-family: sans-serif;
    color: white;
}
.vertical-text {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-family: sans-serif;
    padding: 10px;
    color: white;
}

    .vertical-text button {
        margin-top: 20px;
        cursor: pointer;
        background: rgb(63, 63, 63);
        border: 2px solid white;
        border-radius: 10px;
    }

.row {
    display: flex;
}
.column {
    flex: 50%;
 }
.log {
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    background-color: antiquewhite;
}
.resp-table {
    width: 100%;
    display: table;
    background-color:antiquewhite
}
.resp-table-caption {
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color:lightblue
}
.resp-table-header {
    display: table-header-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
}
.table-header-cell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}
.resp-table-body {
    display: table-row-group;
}
.resp-table-row {
    display: table-row;
}
.table-body-cell {
    display: table-cell;
}
.resp-table-footer {
    display: table-footer-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.45);
}
.table-footer-cell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.app {
    margin: 0 auto;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: black;
    margin-bottom: 20px;
}

    nav ul li {
        padding: 20px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

.current {
    border-bottom: 4px solid white;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttongreen {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .buttongreen:hover {
        background-color: #45a049;
    }

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.scoreboard {
    width:100%;
    height:200px;
}
