* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.container0 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./components/assets/m0.png"), url("./components/assets/m11.png");
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.container1 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./components/assets/m1.png"), url("./components/assets/m12.png");
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.container2 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./components/assets/m2.png"), url("./components/assets/m13.png");
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.container3 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./components/assets/m3.png"), url("./components/assets/m14.png");
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.container4 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./components/assets/m4.png"), url("./components/assets/m15.png");
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.container5 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./components/assets/m5.png"), url("./components/assets/m16.png");
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.container6 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./components/assets/m6.png"), url("./components/assets/m17.png");
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.container7 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./components/assets/m7.png"), url("./components/assets/m18.png");
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.container8 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./components/assets/m8.png"), url("./components/assets/m19.png");
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.container9 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./components/assets/m9.png"), url("./components/assets/m20.png");
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.container10 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./components/assets/m10.png"), url("./components/assets/m21.png");
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.container11 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./components/assets/m11.png"), url("./components/assets/m22.png");
    background-position: right center, left center;
    background-repeat: no-repeat,no-repeat;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
}
.itemcontainer {
    padding:40px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
}

.board-container {
    width: 85vmin;
    height: 82vmin;
    background-color: #dcebf7;

}

.bg-container {
    width: 85vmin;
    height: 90vmin;
    background-image: url("./components/assets/oac.png");
    padding:1.5%;
}
.cord-container {
    width: 20px;
    height: 85vmin;
    background-color: #670404;
    margin-top: 40px;
}
.cord-container-x {
    width: 85vmin;
    height: 20px;
    background-color: #670404;
}
.info-container {
    width: 300px;
    height: 85vmin;
}
.check-container {
    width: 100%;
    height: 20vmin;
}
.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #670404;
}
.boardbg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.squarebg {
    width: 12.5%;
    height: 50%;
}
.square {
    width: 12%;
    height: 12.5%;
}
.cord-squarexxx {
    width: 2%;
    height: 2%;
    background-color: #670404;
    align-items: center;
    justify-content: center;
}
.cord-squarexx {
    width: 2%;
    height: 12.5%;
    background-color: #670404;
    align-items: center;
    justify-content: center;
}
.cord-bg {
    width: 8.33%;
    height: 2%;
    background-color: #670404;
    align-items: center;
    justify-content: center;
}
.mid {
    width: 15.3%;
    height: 50%;
    display: flex;
    flex-direction: row
}
.bgcolumnmidle {
    width: 50%;
    height: 100%;
    background-image: url("./components/assets/oac.png");
}
.bgcolumnmm {
    width: 50%;
    height: 100%;
    background-color: #F0D9B5;
    background-image: url("./components/assets/trb.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
}
.bgcolumn {
    width: 7.69%;
    height: 50%;
    background-color: #F0D9B5;
    background-image: url("./components/assets/trb.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
}
.bgcolumnr {
    width: 7.69%;
    height: 50%;
    background-image: url("./components/assets/tr.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    background-color: #F0D9B5;
}
.bgcolumnrmm {
    width: 50%;
    height: 100%;
    background-image: url("./components/assets/tr.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    background-color: #F0D9B5;
}
.board-squaret {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position:relative
}
.board-squareb {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    position:relative
}
.cord-squareyy{
    width: 12%;
    height: 2%;
    background-color: #670404;
    align-items: center;
    justify-content: center;
}
.cord-square {
    width: 100%;
    height: 12.5%;
}
.cord-square-x {
    width: 12.5%;
    height: 100%;
}
.promote-square {
    width: 50%;
    height: 50%;
}

.square-black {
    background: #B59963
}

.square-white {
    background: #F0D9B5;
    
}
.square-user-white {
    background: white;
    min-height:30px;
    min-width: 30px;
}

.square-user-black {
    background: black;
    min-height:30px;
    min-width:30px;
    color:white
}

.board-square {
    width: 100%;
    height: 100%;
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}

.piece-container {
    cursor: grab;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
    max-width: 70%;
    max-height: 70%;
}

.vertical-text-cord {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-weight:200;
    font-family: sans-serif;
    color: white;
}
.vertical-text {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-family: sans-serif;
    padding: 10px;
    color: white;
}
.textw {
   font-family: sans-serif;
    padding: 10px;
    color: white;
}
.textb {
   font-family: sans-serif;
    padding: 10px;
    color: black;
}
    .vertical-text button {
        margin-top: 20px;
        cursor: pointer;
        background: rgb(63, 63, 63);
        border: 2px solid white;
        border-radius: 10px;
    }

.row {
    display: flex;
}
.column {
    flex: 50%;
 }
.log {
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    background-color: antiquewhite;
}
.resp-table {
    width: 100%;
    display: table;
    background-color:antiquewhite
}
.resp-table-caption {
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color:lightblue
}
.resp-table-header {
    display: table-header-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
}
.table-header-cell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}
.resp-table-body {
    display: table-row-group;
}
.resp-table-row {
    display: table-row;
}
.table-body-cell {
    display: table-cell;
}
.resp-table-footer {
    display: table-footer-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.45);
}
.table-footer-cell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.app {
    margin: 0 auto;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: black;
    margin-bottom: 20px;
}

    nav ul li {
        padding: 20px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

.current {
    border-bottom: 4px solid white;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttongreen {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .buttongreen:hover {
        background-color: #45a049;
    }
    .buttongreen:disabled,
    .buttongreen[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.scoreboard {
    width:100%;
    height:200px;
}

.leftbox {
    float: left;
    background: black;
    width: 25%;
    height: 100%;
    opacity:0.8;
}

.middlebox {
    float: left;
    width: 50%;
    height:100%;
}

.rightbox {
    float: right;
    background: #F0D9B5;
    width: 25%;
    height: 100%;
    opacity:0.8;
}
