body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}


.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #333;
}

.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #999;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.st{
    background-color: transparent;
}